{% extends 'base.html.twig' %}

{% block title %}
   {{ parent() }} Home
{% endblock %}

{% block stylesheets %}
   {{ parent() }}
   {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block body %}

   <style>
      #main-header-icons div:nth-child(1) {
         border-bottom: 3px solid var(--principalColor);

         & .main-header-icon {
            color: var(--principalColor);
         }
      }
   </style>

   {% include 'base/header.html.twig' %}

    <aside class="left-aside-menu">

       <div class="left-aside-menu-elements">
          <div class="left-aside-menu-element">
             {% if user.profilePicture is null %}
                {% set imagePath = 'images/' ~ user.gender ~ '_icon.jpg' %}
                <img src="{{ asset(imagePath|lower) }}" alt="profile_pic" class="profile-picture">
             {% endif %}
             <span>{{ user.username }}</span>
          </div>
          <div class="left-aside-menu-element">
             <img src="{{ asset('images/icons/friends.png') }}" alt="">
             <span>Friends</span>
          </div>
          <div class="left-aside-menu-element">
             <img src="{{ asset('images/icons/newsfeed.png') }}" alt="">
             <span>Feeds</span>
          </div>
          <div class="left-aside-menu-element">
             <img src="{{ asset('images/icons/diversity.png') }}" alt="">
             <span>Groups</span>
          </div>
          <div class="left-aside-menu-element">
             <img src="{{ asset('images/icons/shop.png') }}" alt="">
             <span>Marketplace</span>
          </div>
          <div class="left-aside-menu-element">
             <img src="{{ asset('images/icons/smart-tv.png') }}" alt="">
             <span>Videos</span>
          </div>
          <div class="left-aside-menu-element">
             <img src="{{ asset('images/icons/clock.png') }}" alt="">
             <span>Memories</span>
          </div>
          <div class="left-aside-menu-element">
             <img src="{{ asset('images/icons/bookmark.png') }}" alt="">
             <span>Saved</span>
          </div>
          <div class="left-aside-menu-element">
             <div>
                <span class="fa fa-chevron-down"></span>
             </div>
             <span>See more</span>
          </div>
          <div class="left-aside-menu-element">
             <img src="{{ asset('images/icons/timetable.png') }}" alt="">
             <span>Events</span>
          </div>
          <div class="left-aside-menu-element">
             <img src="{{ asset('images/icons/messenger.png') }}" alt="">
             <span>Messages</span>
          </div>
          <div class="left-aside-menu-element">
             <img src="{{ asset('images/icons/atm-card.png') }}" alt="">
             <span>Orders and Payment</span>
          </div>
          <div class="left-aside-menu-element">
             <img src="{{ asset('images/icons/facebook-page.png') }}" alt="">
             <span>Pages</span>
          </div>
          <div class="left-aside-menu-element">
             <img src="{{ asset('images/icons/game.png') }}" alt="">
             <span>Play Games</span>
          </div>
          <div class="left-aside-menu-element">
             <div>
                <span class="fa fa-chevron-up"></span>
             </div>
             <span>See less</span>
          </div>
       </div>
       <div class="left-aside-menu-shortcuts">
          <div class="left-aside-menu-shortcuts-header">
             <h3>Your Shortcuts</h3>
             <a>Edit</a>
          </div>
       </div>
    </aside>

   <aside class="right-aside-menu">
      <div class="right-aside-menu-block pages-and-profiles">
         <h3>Your Pages and Profiles</h3>
         <div class="create-new-page">
            <div>
               <span class="fa fa-plus"></span>
            </div>
            <span>Create new Page</span>
         </div>
      </div>
      <div class="right-aside-menu-block group-conversations">
         <h3>Group Conversations</h3>
         <div class="create-new-group">
            <div>
               <span class="fa fa-plus"></span>
            </div>
            <span>Create new Group</span>
         </div>
      </div>
   </aside>

   <section class="main-section">
      <div class="stories-block">
         <div class="stories">
            <div>
               <span class="fa fa-plus"></span>
            </div>
            <div>
               <span>Create Story</span>
               <p>Share a Photo or write something</p>
            </div>
         </div>
      </div>

      <div class="main-section-content">
         <div class="upload-post">
            <div>
               {% if user.profilePicture is null %}
                  {% set imagePath = 'images/' ~ user.gender ~ '_icon.jpg' %}
                  <img src="{{ asset(imagePath|lower) }}" alt="profile_pic">
               {% endif %}

               <input type="text" placeholder="What's on your mind, {{ user.username }}?">
            </div>
            <div></div>
         </div>
      </div>
   </section>

   <script>
      console.log(
              window.innerHeight,
              window.innerWidth,
              document.querySelector('#logo-part').offsetWidth,
              document.querySelector('#main-header-menu').offsetWidth,
              document.querySelector('#main-header-icons>div').offsetWidth
      );

      const leftAsideMenuElements = document.querySelectorAll('.left-aside-menu-element'),
              leftAsideMenuElementsIconContainers = document.querySelectorAll('.left-aside-menu-element>div'),
          leftAsideMenuShortcuts = document.querySelector('.left-aside-menu-shortcuts'),
              rightAsideMenuCreateGroup = document.querySelector('.right-aside-menu-block .create-new-group'),
              rightAsideMenuCreatePage = document.querySelector('.right-aside-menu-block .create-new-page'),
              rightAsideMenuCreateGroupIconContainer = document.querySelector('.create-new-group>div'),
              rightAsideMenuCreatePageIconContainer = document.querySelector('.create-new-page>div');

      let nonDisplayedLeftAsideMenuElements = [];

      console.log(getComputedStyle(leftAsideMenuElements[0]));

      changeContainerColorOnHover(leftAsideMenuElements[8], leftAsideMenuElementsIconContainers[0]);
      changeContainerColorOnHover(leftAsideMenuElements[14], leftAsideMenuElementsIconContainers[1]);
      changeContainerColorOnHover(rightAsideMenuCreatePage, rightAsideMenuCreatePageIconContainer);
      changeContainerColorOnHover(rightAsideMenuCreateGroup, rightAsideMenuCreateGroupIconContainer);

      for (const leftAsideMenuElement of leftAsideMenuElements) {
         if (getComputedStyle(leftAsideMenuElement).display === 'none') {
            nonDisplayedLeftAsideMenuElements.push(leftAsideMenuElement);
         }
      }

      leftAsideMenuElements[8].addEventListener('click', function () {
         this.style.display = 'none';

         for (const nonDisplayedLeftAsideMenuElement of nonDisplayedLeftAsideMenuElements) {
            nonDisplayedLeftAsideMenuElement.style.display = 'flex';
         }
      })

      leftAsideMenuElements[14].addEventListener('click', function () {
         leftAsideMenuElements[8].style.display = 'flex';

         for (const nonDisplayedLeftAsideMenuElement of nonDisplayedLeftAsideMenuElements) {
            nonDisplayedLeftAsideMenuElement.style.display = 'none';
         }
      })

      leftAsideMenuShortcuts.style.visibility = 'visible';

   </script>

{% endblock %}
