{% extends 'base.html.twig' %}

{% form_theme requestForm 'bootstrap_5_layout.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('external') }}
{% endblock %}

{% block body %}
    <style>
        body {
            justify-content: flex-start;
        }
    </style>

    <header id="reset-password-header">
        <div id="logo-zone">
            <img src="{{ asset('/images/logo.png') }}" alt="logo">
            <h1>TheNexus</h1>
        </div>
        <div id="reset-password-header-buttons">
            <button onclick="window.location.href = '{{ path('app_login') }}'">Sign In</button>
            <button onclick="window.location.href = '{{ path('app_register') }}'">Sign Up</button>
        </div>
    </header>

    <section id="reset-password-section">
        <h2>Find your Account</h2>
        {{ form_start(requestForm) }}
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            <div id="reset-password-form">
                <p>
                    Please enter your Email Address to search for your Account.
                </p>
                {{ form_widget(requestForm.email) }}
            </div>
            <div id="reset-password-section-buttons">
                <button>Search</button>
            </div>
        {{ form_end(requestForm) }}
    </section>

{% endblock %}


