{% extends 'base.html.twig' %}

{% form_theme requestForm 'bootstrap_5_layout.html.twig' %}

{% block title %}
    {{ parent() }} Reset your password
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('external') }}
{% endblock %}

{% block body %}

    {% include 'reset_password/header.html.twig' %}

    <section id="reset-password-section">
        <h2>Find your Account</h2>
        {{ form_start(requestForm) }}
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            <div id="reset-password-form">
                <p>
                    Please enter your Email Address to search for your Account.
                </p>
                {{ form_widget(requestForm.email) }}
            </div>
            <div id="reset-password-section-button">
                <button>Search</button>
            </div>
        {{ form_end(requestForm) }}
    </section>

{% endblock %}


